<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Login</title>

    <%= stylesheet_link_tag "admin" %>
    
    <style>
        
        .log-in-form {
          padding: 1rem;
          border-radius: 0;
          margin-top: 5em;
        }

    </style>
    
  </head>
  <body>
    
    <div class="grid-x">
        <div class="large-offset-4 large-4 cell">
            <form class="log-in-form">
              <label>Login:
                <input type="email" placeholder="Seu usuário">
              </label>
              <label>Senha:
                <input type="password" placeholder="xxxxxx">
              </label>
              <div class="grid-x">
                <div class="large-6 cell">
                  <input id="show-password" type="checkbox"><label for="show-password">Mostrar senha</label>
                </div>
                <fieldset class="large-6 cell">
                  <button class="button float-right" type="submit" value="Submit">Entrar</button>
                </fieldset>
              </div>
            </form>
        </div>
    </div>

    <%= javascript_include_tag "admin", 'data-turbolinks-track' => true %>
    <script src="/plugins/tinymce/tinymce.min.js"></script> 
    <%= yield :scripts %>
    
  </body>
</html>
