<% content_for :title do %>
<title>Clientes - Adicionar</title>
<% end %>

<% content_for :header do %>
<h1>Clientes <small>Adicionar</small></h1>
<% end %>

<div class="small-12 cell">

  <div class="inner-fieldset">
    <form method="post" action="<?= base_url()?>atividades-adicionar">

      <div class="grid-x grid-margin-x">
        <div class="small-6 cell">
          <label>Título (pt):
            <input id="titulo" name="titulo" type="text" placeholder="Título da notícia">
          </label>
        </div>
        <div class="small-6 cell">
          <label>Título (en):
            <input id="titulo" name="titulo" type="text" placeholder="News Title">
          </label>
        </div>
      </div>

      <div class="grid-x grid-margin-x">
        <div class="small-4 cell">
            <label>Categoria:
              <select name="membros[]" id="select"a>
                  <option value="">Categoria</option>
                  <option value="">Categoria</option>
                  <option value="">Categoria</option>
                  <option value="">Categoria</option>
                  <option value="">Categoria</option>
                  <option value="">Categoria</option>
                  <option value="">Categoria</option>
                  <option value="">Categoria</option>
                  <option value="">Categoria</option>
                  <option value="">Categoria</option>
                  <option value="">Categoria</option>
                  <option value="">Categoria</option>

              </select>
          </label>
        </div>
        <div class="small-4 cell">
          <label>Data:
            <input id="dt_entrega" name="dt_entrega" type="text" placeholder="--/--/----">
          </label>
        </div>
        <div class="small-4 cell">
          <label>Fonte:
            <input id="titulo" name="titulo" type="text" placeholder="https://fonte.com.br">
             <p class="help-text" id="exampleHelpText2">Nome ou link externo</p>
          </label>
        </div>
      </div>

      <div class="grid-x grid-margin-x">
        <fieldset class="large-4 cell">
          <label>Tipo:</label>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Texto</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Arquivo</label>
        </fieldset>
        <div class="small-5 cell end">
          <label>Imagem destaque:
            <input id="imagem" name="titulo" type="file" placeholder="Título da notícia">
          </label>
        </div>
      </div>

      <div class="grid-x grid-margin-x">
        <div class="small-6 cell">
          <label>Descrição (pt):
            <textarea id="descricao_pt" name="ds_atividade" type="text"></textarea>
          </label>
        </div>
        <div class="small-6 cell">
          <label>Descrição (en):
            <textarea id="descricao_en" name="ds_atividade" type="text"></textarea>
          </label>
        </div>
      </div>

      <br>

      <div class="grid-x">
        <fieldset class="large-12 cell">
          <button class="button float-right" type="submit" value="Submit">Salvar</button>
        </fieldset>
      </div>
    </form>
  </div>

</div>

<% content_for :scripts do %>
<script>

  $(document).foundation();

  // Open down a submenu
  $('#menu-principal').foundation('down', $('#submenu-cars'));

  // Datepicker
  $(function(){
    $('#dt_entrega').fdatepicker({
      initialDate: '01-01-2016',
      format: 'dd/mm/yyyy ',
      disableDblClickSelection: true,
      leftArrow:'<<',
      rightArrow:'>>',
      closeIcon:'X',
      closeButton: false,
      language: 'pt',

    });
  });

  // Text editor
  tinymce.init({
    selector: '#descricao_pt',
    theme: "modern",
    plugins: [
      "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
      "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
      "save table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker codesample"
    ],
    external_plugins: {
      //"moxiemanager": "/moxiemanager-php/plugin.js"
    },
    content_css: "css/development.css",
    add_unload_trigger: false,
    autosave_ask_before_unload: false,

    toolbar1: "save newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
    toolbar2: "cut copy paste pastetext | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media help code | insertdatetime preview | forecolor backcolor",
    toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft | insertfile insertimage codesample",
    menubar: false,
    toolbar_items_size: 'small',

    style_formats: [
      {title: 'Bold text', inline: 'b'},
      {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
      {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
      {title: 'Example 1', inline: 'span', classes: 'example1'},
      {title: 'Example 2', inline: 'span', classes: 'example2'},
      {title: 'Table styles'},
      {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    ],

    templates: [
      {title: 'My template 1', description: 'Some fancy template 1', content: 'My html'},
      {title: 'My template 2', description: 'Some fancy template 2', url: 'development.html'}
    ],

        spellchecker_callback: function(method, data, success) {
      if (method == "spellcheck") {
        var words = data.match(this.getWordCharPattern());
        var suggestions = {};

        for (var i = 0; i < words.length; i++) {
          suggestions[words[i]] = ["First", "second"];
        }

        success({words: suggestions, dictionary: true});
      }

      if (method == "addToDictionary") {
        success();
      }
    }
  });

  // Text editor
  tinymce.init({
    selector: '#descricao_en',
    theme: "modern",
    plugins: [
      "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
      "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
      "save table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker codesample"
    ],
    external_plugins: {
      //"moxiemanager": "/moxiemanager-php/plugin.js"
    },
    content_css: "css/development.css",
    add_unload_trigger: false,
    autosave_ask_before_unload: false,

    toolbar1: "save newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
    toolbar2: "cut copy paste pastetext | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media help code | insertdatetime preview | forecolor backcolor",
    toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft | insertfile insertimage codesample",
    menubar: false,
    toolbar_items_size: 'small',

    style_formats: [
      {title: 'Bold text', inline: 'b'},
      {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
      {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
      {title: 'Example 1', inline: 'span', classes: 'example1'},
      {title: 'Example 2', inline: 'span', classes: 'example2'},
      {title: 'Table styles'},
      {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    ],

    templates: [
      {title: 'My template 1', description: 'Some fancy template 1', content: 'My html'},
      {title: 'My template 2', description: 'Some fancy template 2', url: 'development.html'}
    ],

        spellchecker_callback: function(method, data, success) {
      if (method == "spellcheck") {
        var words = data.match(this.getWordCharPattern());
        var suggestions = {};

        for (var i = 0; i < words.length; i++) {
          suggestions[words[i]] = ["First", "second"];
        }

        success({words: suggestions, dictionary: true});
      }

      if (method == "addToDictionary") {
        success();
      }
    }
  });

</script>
<% end %>